"*":
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": "never"
  "atom-latex":
    hide_log_if_success: true
    preview_after_build: "View in PDF viewer tab"
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "atom-typescript"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    atomicSoftTabs: false
    fontFamily: "Fira Code"
    softWrap: true
  "exception-reporting":
    userId: "e7b25e05-9b24-47d8-9a2a-de56190a0304"
  "ide-typescript":
    typeScriptServer:
      path: "/usr/local/bin/tsserver"
  latex:
    buildOnSave: true
    enableSynctex: false
  "linter-eslint":
    scopes: [
      "source.js"
      "source.jsx"
      "source.js.jsx"
      "source.flow"
      "source.babel"
      "source.js-semantic"
      "source.ts"
      "source.tsx"
    ]
  "linter-eslint-node":
    autofix:
      fixOnSave: true
  "linter-mypy":
    disallowAnyExplicit: false
    disallowAnyExpr: false
    disallowAnyUnimported: false
    disallowUntypedCalls: false
    lintTrigger: "LintAsYouType"
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
  "vim-mode-plus":
    askOptInToEditorScrollPastEnd: false
    groupChangesWhenLeavingInsertMode: false
  welcome:
    showOnStartup: false
